header{
    width: 100%;
    height: 100px;
    margin:0px;
    padding: 0px 0px;
    background: rgba(0, 0, 0, 0.603);
}
.foodism{
    color: white;
    font-size: 40px;
    position: absolute;
    top: 30px;
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}
li{
    float: right;
}
li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 30px 12px;
    font-size: 25px;
}
li a:hover{
    background-color: transparent;
    text-decoration: none;
    font-size: 25px;
    line-height: 20px;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("1.jpg");
    background-position: center;
    background-size: cover;
}
.wrapper{
    margin-left: 100px;
    padding: 50px;
    display: grid;
    grid-template-columns: 28% 28% 28%;
    grid-template-rows: 28% 28% 28%;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}
.wrapper > div{
    background: white;
    padding: 2em;
    height: 400px;

}
.img{
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    border: solid black 1px;
    padding: 0px;
    height: 250px;
    width: 250px;
}
input[type=submit]{
    background-color: maroon;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.603);
    color: white;
}
.Allrights{
    background-color: red;
    text-align: center;
    font-size: 18px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 30px;
}
a:hover{
    color: white;
}